{% extends "base.html" %}

{% block content %}
    <h2>Список Квизов</h2>

    <ul class="list-group">
        {% for quiz in quizzes %}
            <li class="list-group-item list-group-item-action" aria-current="true">
                <a href="{{ url_for('routes.open_quiz', quiz_id=quiz.id) }}" class="text-decoration-none text-dark d-flex justify-content-between align-items-center">
                    {{ quiz.name }}
                    <span class="badge bg-primary rounded-pill">Открыть</span>
                </a>
            </li>

        {% endfor %}
    </ul>

{% endblock %}